naviswireless/src/navisjmewsclient/clientservices.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns:tns="http://www.naviscorp.us/soa/wsdl/clientservices" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.naviscorp.us/soa/wsdl/clientservices" name="ClientServices">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.naviscorp.us/soa/wsdl/clientservices" schemaLocation="http://192.168.1.2:8080/clientservices/clientservices?xsd=1"></xsd:import>
    </xsd:schema>
  </types>
  <message name="synchConfig">
    <part element="tns:synchConfig" name="parameters"></part>
  </message>
  <message name="synchConfigResponse">
    <part element="tns:synchConfigResponse" name="parameters"></part>
  </message>
  <message name="upload">
    <part element="tns:upload" name="parameters"></part>
  </message>
  <message name="uploadResponse">
    <part element="tns:uploadResponse" name="parameters"></part>
  </message>
  <message name="UploadException">
    <part element="tns:UploadException" name="UploadException"></part>
  </message>
  <portType name="ClientServices">
    <operation name="synchConfig">
      <input message="tns:synchConfig"></input>
      <output message="tns:synchConfigResponse"></output>
    </operation>
    <operation name="upload">
      <input message="tns:upload"></input>
      <output message="tns:uploadResponse"></output>
      <fault message="tns:UploadException" name="UploadException"></fault>
    </operation>
  </portType>
  <binding type="tns:ClientServices" name="ClientServicesPortBinding">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="synchConfig">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="upload">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="UploadException">
        <soap:fault use="literal" name="UploadException"></soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="ClientServices">
    <port binding="tns:ClientServicesPortBinding" name="ClientServicesPort">
      <soap:address location="http://192.168.1.2:8080/clientservices/clientservices"></soap:address>
    </port>
  </service>
</definitions>